body {
    
    background-color: #4f453b;
}

.header {
    
    
}

#anxietyhelper {
    
    background-color: #c58970;
    width: 200px;
    height: 50px;
    
}

#github {
    
    background-color: #c58970;
    width: 200px;
    height: 50px;
    
}

#instagram {
    
    background-color: #c58970;
    width: 200px;
    height: 50px;
    
}

#contact {
    
    background-color: #c58970;
    width: 200px;
    height: 50px;
    
}